# AceleraDev Codenation - Semana 2

## Manipulando dados

In [23]:
#importando os pacotes
import pandas as pd
import numpy as np

In [2]:
#acessando Help nos pacotes
pd?

## Dicionários

In [7]:
#criando um dicionário com os dados
dados = {'canal_venda':['facebool', 'instagram', 'linkedin', 'twitter'],
        'acessos':[100, 200, 300, 400],
        'site':[ 'site1', 'site1', 'site2', 'site2','site3'],
        'vendas':[1000.52, 1052.34, 2002, 5000, 300]}

In [8]:
#printar dicionário
dados

{'canal_venda': ['facebool', 'instagram', 'linkedin', 'twitter'],
 'acessos': [100, 200, 300, 400],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

In [9]:
#verificando o tipo do dicionário
type(dados)

dict

In [10]:
#Acessando as chaves do dicionário
dados.keys()

dict_keys(['canal_venda', 'acessos', 'site', 'vendas'])

In [11]:
#acessando uma chave específica
dados['site']

['site1', 'site1', 'site2', 'site2', 'site3']

In [12]:
#Acessando posição específica
dados['canal_venda'][2]

'linkedin'

In [13]:
dados['canal_venda'][:3]

['facebool', 'instagram', 'linkedin']

## Listas

In [14]:
type([1,2,3])

list

In [38]:
#ciando uma lista
lista = [200,200,200,300,800]

In [39]:
#imprimindo a lista
lista

[200, 200, 200, 300, 800]

In [40]:
#vendo valores específicos
lista[1]

200

In [41]:
#fatia da lista
lista[:3]

[200, 200, 200]

In [42]:
#Adicionando a lista ao dicionário
dados['lista'] = lista

In [43]:
dados

{'canal_venda': ['facebool', 'instagram', 'linkedin', 'twitter'],
 'acessos': [100, 200, 300, 400],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300],
 'lista': [200, 200, 200, 300, 800]}

## Dataframes

In [44]:
dados

{'canal_venda': ['facebool', 'instagram', 'linkedin', 'twitter'],
 'acessos': [100, 200, 300, 400],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300],
 'lista': [200, 200, 200, 300, 800]}

In [45]:
#Criar um dataframe a partir de um dicionáio
dataframe = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dados.items() ]))

In [46]:
#acessando o data frame
dataframe

  canal_venda  acessos   site   vendas  lista
0    facebool    100.0  site1  1000.52    200
1   instagram    200.0  site1  1052.34    200
2    linkedin    300.0  site2  2002.00    200
3     twitter    400.0  site2  5000.00    300
4         NaN      NaN  site3   300.00    800

In [47]:
#printando as primeiras linhas do df
dataframe.head(2)

  canal_venda  acessos   site   vendas  lista
0    facebool    100.0  site1  1000.52    200
1   instagram    200.0  site1  1052.34    200

In [48]:
# verificando o formado do df
dataframe.shape

(5, 5)

In [49]:
type(dataframe)

pandas.core.frame.DataFrame

In [50]:
#verificando o indice do df
dataframe.index

RangeIndex(start=0, stop=5, step=1)

In [51]:
#verificando os tipos dos dados do df
dataframe.dtypes

canal_venda     object
acessos        float64
site            object
vendas         float64
lista            int64
dtype: object

In [53]:
#verificando se existe valores faltantes
dataframe.isna()

   canal_venda  acessos   site  vendas  lista
0        False    False  False   False  False
1        False    False  False   False  False
2        False    False  False   False  False
3        False    False  False   False  False
4         True     True  False   False  False

In [54]:
#printando os nomes das colunas
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [55]:
#acessando uma coluna específica
dataframe['canal_venda']

0     facebool
1    instagram
2     linkedin
3      twitter
4          NaN
Name: canal_venda, dtype: object

In [56]:
#criando uma nova coluna
dataframe['nova_coluna'] = [1,2,3,4,5]

In [57]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebool    100.0  site1  1000.52    200            1
1   instagram    200.0  site1  1052.34    200            2
2    linkedin    300.0  site2  2002.00    200            3
3     twitter    400.0  site2  5000.00    300            4
4         NaN      NaN  site3   300.00    800            5

In [58]:
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista', 'nova_coluna'], dtype='object')

In [60]:
#removendo colunas
dataframe.drop(columns = ['acessos', 'site', 'canal_venda'])

    vendas  lista  nova_coluna
0  1000.52    200            1
1  1052.34    200            2
2  2002.00    200            3
3  5000.00    300            4
4   300.00    800            5

In [61]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebool    100.0  site1  1000.52    200            1
1   instagram    200.0  site1  1052.34    200            2
2    linkedin    300.0  site2  2002.00    200            3
3     twitter    400.0  site2  5000.00    300            4
4         NaN      NaN  site3   300.00    800            5

In [62]:
#Mostrando as colunas
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista', 'nova_coluna'], dtype='object')

In [63]:
#Acessando valores específicos
dataframe['acessos'][1]

200.0

In [64]:
#Acessando fatia de coluna específica
dataframe['canal_venda'][:2]

0     facebool
1    instagram
Name: canal_venda, dtype: object

In [65]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebool    100.0  site1  1000.52    200            1
1   instagram    200.0  site1  1052.34    200            2
2    linkedin    300.0  site2  2002.00    200            3
3     twitter    400.0  site2  5000.00    300            4
4         NaN      NaN  site3   300.00    800            5

In [67]:
#fatiando os dados usando iloc
dataframe.iloc[3:,4:]

   lista  nova_coluna
3    300            4
4    800            5

In [68]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebool    100.0  site1  1000.52    200            1
1   instagram    200.0  site1  1052.34    200            2
2    linkedin    300.0  site2  2002.00    200            3
3     twitter    400.0  site2  5000.00    300            4
4         NaN      NaN  site3   300.00    800            5

In [69]:
#Fatiar df utilizando loc(indice)
dataframe.loc[:3]

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebool    100.0  site1  1000.52    200            1
1   instagram    200.0  site1  1052.34    200            2
2    linkedin    300.0  site2  2002.00    200            3
3     twitter    400.0  site2  5000.00    300            4

In [71]:
#Selecionando colunas específicas
dataframe[['canal_venda', 'vendas']]

  canal_venda   vendas
0    facebool  1000.52
1   instagram  1052.34
2    linkedin  2002.00
3     twitter  5000.00
4         NaN   300.00

In [72]:
#Passando os valores através de lista
filtro = ['canal_venda', 'acessos']

In [73]:
dataframe[filtro]

  canal_venda  acessos
0    facebool    100.0
1   instagram    200.0
2    linkedin    300.0
3     twitter    400.0
4         NaN      NaN

In [74]:
#Usando o método info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
canal_venda    4 non-null object
acessos        4 non-null float64
site           5 non-null object
vendas         5 non-null float64
lista          5 non-null int64
nova_coluna    5 non-null int64
dtypes: float64(2), int64(2), object(2)
memory usage: 320.0+ bytes

In [75]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebool    100.0  site1  1000.52    200            1
1   instagram    200.0  site1  1052.34    200            2
2    linkedin    300.0  site2  2002.00    200            3
3     twitter    400.0  site2  5000.00    300            4
4         NaN      NaN  site3   300.00    800            5